langchain
langchain-core
langchain-community
langchain-openai
langchain-qdrant
langchain-text-splitters
chromadb
qdrant-client
sentence-transformers
tiktoken
numpy
datasets
pyarrow
pandas==2.2.2
ragas
rouge_score
scikit-learn
openai
requests==2.32.4
nltk
